@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap");
* {
  font-family: 'Noto Sans KR', sans-serif;
}

.multiline {
  white-space: pre-wrap;
}

.hidden {
  display: none;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

html,
body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  /* overscroll-behavior: none; */
}

button {
  margin: 3px;
  padding: 3px;
}

a {
  /* display: inline; */
  /* text-decoration: none; */
  color: black;
  /* font-size: 24px; */
}

#game-map {
  table-layout: fixed;
  border-spacing: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#game-map td {
  width: 80px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

#game-map td.selected {
  position: relative;
  z-index: 20;
  border: 1px solid white;
}

#game-map td.selected:hover {
  cursor: pointer;
}

#game-map td.AllPawn {
  background-image: url("/static/assets/AllPawn.svg");
}

#game-map td.DiagonalPawn {
  background-image: url("/static/assets/DiagonalPawn.svg");
}

#game-map td.OrthogonalPawn {
  background-image: url("/static/assets/OrthogonalPawn.svg");
}

#game-map td.UpPawn {
  background-image: url("/static/assets/UpPawn.svg");
}

#game-map td.DownPawn {
  background-image: url("/static/assets/UpPawn.svg");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#game-map td.A {
  fill: #6A040F;
  stroke: #6A040F;
}

#game-map td.A path {
  fill: #6A040F;
  stroke: #6A040F;
}

#game-map td.B {
  fill: #03045E;
  stroke: #03045E;
}

#game-map td.B path {
  fill: #03045E;
  stroke: #03045E;
}

#game-map td.noNeed {
  -webkit-filter: saturate(calc(0.1+0.16*1));
          filter: saturate(calc(0.1+0.16*1));
}

#game-map td.light {
  -webkit-filter: saturate(calc(0.1+0.16*2));
          filter: saturate(calc(0.1+0.16*2));
}

#game-map td.need {
  -webkit-filter: saturate(calc(0.1+0.16*3));
          filter: saturate(calc(0.1+0.16*3));
}

#game-map td.choice {
  -webkit-filter: saturate(calc(0.1+0.16*4));
          filter: saturate(calc(0.1+0.16*4));
}

#game-map td.focus {
  -webkit-filter: saturate(calc(0.1+0.16*5));
          filter: saturate(calc(0.1+0.16*5));
}

.log {
  background-color: black;
  color: white;
  overflow-y: scroll;
  height: 150px;
}
